<div class="lazy-img {{ class }}" data-src="{{ src | img_url: size, crop: 'center' }}">
  <img src="" width="{{ width }}" height="{{ height }}" alt="{{ alt }}"/>
  <svg width="{{ width }}" height="{{ height }}"></svg>
</div>
