<menu-drawer class="menu-drawer">
  <div class="menu-drawer__overlay"></div>

  <div class="menu-drawer__wrapper">
    <div class="menu-drawer__inner">
      <div class="grid flex flex-wrap">
        <ul class="col xxs-col-12">
          {% for link in linklists.main-menu.links %}
            <li class="menu-drawer__item menu-drawer__item--{{link.handle}} uppercase {% if link.active %}active{% endif %} {% if link.handle == 'shop' and template.name == 'product'%} site-menu-lg__item--active {% endif %}">
              <a href="{{ link.url }}">
                <span>{{ link.title }}</span>
              </a>
              {% if link.handle == "shop" %}
              <ul>
                <li class="menu-drawer__item menu-drawer__item--sub">
                  <a href="{{ link.url }}/#pickles">Pickles</a>
                  <br>
                </li>

                <li class="menu-drawer__item menu-drawer__item--sub">
                  <a href="{{ link.url }}/#merch">Merch</a>
                </li>
              </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</menu-drawer>
